<div class="container">

  <!-- <section class="item section-05">
     05
 </section>      -->

 <!--       -->

<!-- Section 4 -->
<section class="item section-04">

  <div class="rectangule-section-04">  
  </div>
  <div class="titulos-section-04">
    <h1 class="texto1">
      Try for free!
    </h1>

    <h3 class="texto2">
      Get limited 1 week free try our features!
    </h3>

  </div>
  <div class="botoes-section-04">

    
      <a class="btn-learn-more" href="">
        <p class="text-btn-learn-more">Learn more</p>
      </a>
    
      <a class="btn-request-demo" href="">
        <p class="text-btn-request-demo">Request Demo</p>
        <div class="vector-request-demo"></div>
        <i class="fas fa-angle-right"></i>
      </a>
    

  </div>
  <footer class="footer-section-04">

    <div class="logo-footer-section-04">
        <div class="rectangule1">
        </div>
        <div class="rectangule2">
        </div>
    </div>

    <nav>

      <h1 class="titulo-footer">DataWarehouse</h1>

      <p class="endereco-footer">Warehouse Society, 234 Bahagia Ave Street PRBW 29281</p>


      <p class="email-footer">info@warehouse.project <br> 1-232-3434 (Main) </p>

      <p class="direitos-footer">Datawarehouse™, 2020. All rights reserved. <br> Company Registration Number: 21479524.</p>

      <ul>
        <li class="about-footer">
            <a>About</a>
            <br>
            <a href="">Profile</a>
            <br>
            <a href="">Features</a>
            <br>
            <a href="">Careers</a>
            <br>
            <a href="">DW News</a>
        </li>
        <li class="help-footer">
            <a>Help</a>
            <br>
            <a href="">Support</a>
            <br>
            <a href="">Sign up</a>
            <br>
            <a href="">Guide</a>
            <br>
            <a href="">Reports</a>
            <br>
            <a href="">Q&A</a>
        </li>

        <li class="sm-footer">
          <p>Social Media</p>
          <br>
          <a class="fab fa-twitter"></a>
          
          <a class="fab fa-facebook"></a>
          
          <a class="fab fa-instagram"></a>
      </li>


      </ul>

    </nav>


    <div class="comment-footer">
      <a>
        <i class="fa fa-comment-dots dots-footer"></i>
      </a>
    </div>


  </footer>

</section>
 <!-- Section 3 -->

 <section class="item section-03">

        <div class="item item1">
            <h1 class="texto1">
              Features
            </h1>
    
            <h3 class="texto2">
              Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
            </h3>
        </div>
        <div class="item item2">

          <div class="item2-1">
              <div class="image-item2-1"></div> 
            
              <div class="elipse-item2-1"></div>
            
              <div class="vector-item2-1"></div>
            
              <div class="rectangle-item2-1"></div>

               <h1 class="texto2-1">
                Search Data
              </h1>
      
              <h3 class="texto2-2">
                Don’t worry if your data is very large, the Data Warehoue provides a search 
                engine, which is useful for making it easier to find data effectively saving 
                time. 
              </h3>

              <div class="item2-2">
                <p class="text-item2-2">Learn more</p>
                <div class="vector-item2-2"></div>
                <i class="fas fa-angle-right polygon2-2"></i>
                
              </div>
          </div>

<!-- --------------------Item 2 -->

          <div class="item3">
                <div class="image-item3"></div> 
              
                <div class="rectangle-item3"></div>

                <h1 class="texto3-1">
                  24 Hours Access
                </h1>
        
                <h3 class="texto3-2">
                  Access is given 24 hours a full morning to night and meet again in the morning, 
                  giving you comfort when you need data when urgent.
                </h3>

                <div class="item3-3">
                  <p class="text-item3-3">Learn more</p>
                  <div class="vector-item3-3"></div>
                  <i class="fas fa-angle-right polygon3-3"></i>
                  
                </div>
            </div>

            <!-- Item 3 -->
            
            <div class="item4">
              <div class="image-item4"></div> 

              <div class="rectangle-item4"></div>

              <h1 class="texto4-1">
                Security Code
              </h1>

              <h3 class="texto4-2">
                Data Security is one of our best facilities. Allows for your files to be safer. 
                The file can be secured with a code or password that you created, so only you 
                can open the file.
              </h3>

              <div class="item4-3">
                <p class="text-item4-3">Learn more</p>
                <div class="vector-item4-3"></div>
                <i class="fas fa-angle-right polygon4-3"></i>
                
              </div>
            </div>

            <!-- Item 4 -->

              <div class="item5">
                <div class="image-item5"></div> 

                <div class="rectangle-item5"></div>

                <h1 class="texto5-1">
                  Print Out
                </h1>

                <h3 class="texto5-2">
                  Print out service gives you convenience if someday you need print data, 
                  just edit it all and just print it.
                </h3>

                <div class="item5-3">
                  <p class="text-item5-3">Learn more</p>
                  <div class="vector-item5-3"></div>
                  <i class="fas fa-angle-right polygon5-3"></i>
                  
                </div>
              </div>

          <!-- Fim Itens -->
        </div>
        
 </section>      

 <!-- Section 2 -->

  <section class="item section-02">
      <div class="image2"></div> 

      <div class="texto">
         
        <h1 class="texto1">
          We are a high-level data storage bank
        </h1>

        <h3 class="texto2">
          The place to store various data that you can access at any time through the 
          internet and where you can carry it. This very flexible storage area has a 
          high level of security. To enter into your own data you must enter the password 
          that you created when you registered in this Data Warehouse.
        </h3>
    </div>

 </section>        

<!-- Section 1 -->

 <section class="item section-01">

     <div class="top">

         <div class="logo">
             <div class="rectangule1">
             </div>
             <div class="rectangule2">
             </div>
         </div>

         <nav>
             <ul class="menu">
                 <li class="itens">
                     <a class="" href="#">About</a>
                 </li>
         
                 <li class="itens">
                     <a class="" href="#">Help</a>
                 </li>
         
                 <li class="itens">
                     <a class="" href="#">
                       Features
                      </a>
                 </li>
         
                 <li class="itens">
                     <a class="" href="#">
                         Signup
                     </a>
                 </li>
             </ul> 
         </nav>

         <a class="btn-request-demo-section-01" href="">
          <p class="text-btn-request-demo-section-01">Request Demo</p>
          <div class="vector-request-demo-section-01 "></div>
          <i class="fas fa-angle-right"></i>
        </a>

     </div>


     
      <div class="headline">
         
         <h1 class="top">
             Save your data storage here.
         </h1>

         <button>
             <p>Learn more</p>
             <div class="rectangule">
             </div>
         </button>
 
         <h3 class="headline">
             Data Warehouse is a data storage area that has been tested for security, 
             so you can store your data here safely but not be afraid of being stolen by others. 
         </h3>
     </div>
     <div class="photo-bg"></div> 

     
     
 </section> 

</div>